*.com
*.class
*.dll
*.exe
*.o
*.so

*.log
*.sql
*.sqlite


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.zip
*.sh
*.bat
*.jar


.git/
.pmd

.idea/
*.iml

.project
.classpath
.settings/

target/

node/
node_modules/

src/main/resources/META-INF/resources/css/
src/main/resources/META-INF/resources/lib/